<div>
    <h2>Sign In</h2>
</div>

<form class="mt-5 col-md-6 m-auto" #signInForm="ngForm" (ngSubmit)="onSubmitSignIn(signInForm)">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <div class="input-group">
            <span class="input-group-text" id="userHelp">@</span>
            <input placeholder="entrer votre username" type="text" class="form-control" id="username" name="username" aria-describedby="userHelp" ngModel required />
        </div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Mot de Passe</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelpBlock" ngModel required="" />
    </div>

    <div class="d-grid col-12 col-md-2 ms-auto">
        <button class="btn btn-primary text-nowrap" [disabled]="signInForm.invalid" type="submit">
      Se connecter
    </button>
        <!--<div>Le formulaire est-il invalide ? : {{ signUpForm.invalid }}</div>-->
    </div>
</form>

<div class="alert-danger" *ngIf="signInError">
    Informations de connexion incorrectes 🥲
</div>