<div class="container-fluid">
    <div>
        <h2>{{ country && country.name }}</h2>
    </div>
    <div class="row">

        <div class="row row-cols-3 row-cols-sm-2 card w-50" *ngFor="let category of listCategories">
            <a href="" target="_blank" rel="noopener">
                <img src="{{ category.picture}}" class="card-img-top" alt="{{ category.name }}" id="" />
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text"></p>
                <a routerLink="products/{{country.id}}/{{category.id}}" class="btn btn-primary">Découvrir</a>
            </div>
        </div>
    </div>
</div>